body {
    background-color: #10173d;

}

h1 {
    text-align: center;
    color: yellow;
}

.container {
    max-width: 75rem;
    margin: auto;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-gap: 1.5rem;
    padding: 0 2rem;
}

article {
    background: white;
    color: #10173d;
    padding: 1rem;
    text-align: center;
    text-transform: capitalize;
    border-radius: 0.25rem;
    transition: 200ms;
    /* box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.47); */
}

article:hover {
    transform: scale(1.1);
}